<div class="app">
  <app-header></app-header>

  <div class="main-container">
    <div class="main-content">
      <div class="sidebar">
        <app-sidebar [markdown]="markdown"></app-sidebar>
      </div>

      <div class="board">
        <section class="editor">
          <app-markdown-editor [item]="mdService.currentMarkdownItem"></app-markdown-editor>
        </section>

        <section class="preview">
          <app-markup-preview></app-markup-preview>
        </section>
      </div>

    </div>
  </div>
</div>
