<div class="editor-header flex">
  <h3> Markdown </h3>
</div>
<div class="editor">
  <textarea #markdown>
# Markdown Editor

Basic useful feature list:

* Foo
* Bar
* Baz

go write something yourself.

Look, a list!

 1. foo
 2. bar
 3. baz

And here's some code! :+1:

```js
$(function(){
  $('div').html('I am a div.');
});
```

This is a [link](https://github.com) to github.

### Stuff used to make this:

 * [markdown-it](https://github.com/markdown-it/markdown-it) for Markdown parsing

  </textarea>
</div>
