<div class="sidebar">
  <section class="header flex">Navigation Menu</section>
  <section class="nav-form">

    <ul class="menu-row">
      <li *ngFor="let item of menuItems; let i = index;">
        <textarea appAutogrow rows="1" (keydown)="onKeyDown($event, i)">{{item.title}}</textarea>

        <ul class="submenu-row">
          <li *ngFor="let submenu of item.submenu; let j = index;">
            <textarea appAutogrow rows="1" (keydown)="onKeyDown($event, i, j)">{{submenu.title}}</textarea>
          </li>
        </ul>
      </li>
    </ul>

  </section>

  <section class="nav-hints">
    hints
  </section>
</div>
