<div class="sidebar">
  <section class="header flex">Navigation Menu</section>
  <section class="nav-form">

    <ul class="menu-row">
      <li *ngFor="let menu of markdown.data; let i = index;">
        <textarea spellcheck="false" appAutogrow rows="1" (focus)="onMenuSelection(menu)" (keydown)="onKeyDown($event, i)" [(ngModel)]="menu.title"></textarea>

        <ul class="submenu-row">
          <li *ngFor="let submenu of menu.submenu; let j = index;">
            <textarea spellcheck="false" appAutogrow rows="1" (focus)="onMenuSelection(submenu)" (keydown)="onKeyDown($event, i, j)" [(ngModel)]="submenu.title"></textarea>
          </li>
        </ul>
      </li>
    </ul>

  </section>

  <section class="nav-hints">
    <div>
      Hints:
    </div>
    <div class="hint">
      <span>Tab:</span> makes a sub-menu
    </div>
    <div class="hint">
      <span>Shft + Tab:</span> makes a menu
    </div>
    <div class="hint">
      <span>Enter:</span> creates a menu
    </div>
  </section>
</div>
