/* You can add global styles to this file, and also import other style files */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", 'Roboto', sans-serif;
  overflow: hidden;
  height: 100%;
}

.CodeMirror {
  height: 100%;
}


/* global utility classes */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
